/* ===== NAVBAR BASE ===== */
.navbar-custom {
  transition: all 0.3s ease;
  padding: 1rem 0;
  background-color: transparent;
}

/* ================= ESTADO AO ROLAR ================= */
.navbar-custom.scrolled {
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 0.6rem 0;
}

/* tamanho logo */
.logo-header {
  height: 50px;
  width: auto;
}

/* ===== BRAND ===== */
.navbar-brand {
  font-weight: 700;
  font-size: 1.1rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-custom.scrolled .navbar-brand {
  color: #1b7f3a;
}

.navbar-brand:hover {
  color: #146c31;
}

/* ===== LINKS ===== */
.nav-link {
  font-weight: 500;
  color: #1b7f3a; /* verde já visível no topo */
  transition: all 0.3s ease;
}

.navbar-custom.scrolled .nav-link {
  color: #374151;
}

.nav-link:hover {
  background-color: #ebdc06;
  border-radius: 2rem;
}

.nav-link.active {
  color: #1b7f3a;
  font-weight: 600;
}

/* ===== LINK DESTAQUE (CRACHÁ) ===== */
.nav-link.destaque {
  background-color: #1b7f3a;
  color: #fff !important;
  padding: 0.4rem 1rem;
  border-radius: 30px;
}

.nav-link.destaque:hover {
  background-color: #146c31;
}

/* ================= BOTÃO MOBILE ================= */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-custom.scrolled .navbar-toggler-icon {
  filter: invert(0);
}
