<header>
  <nav class="navbar navbar-expand-lg navbar-custom fixed-top" [class.scrolled]="isScrolled">
    <div class="container">

      <!-- Logo -->
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/imgs/logos/Brasao-100x121.png" alt="Brasão do Governo do Estado do Ceará" class="logo-header">
      </a>

      <!-- Botão mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Conteúdo colapsável -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

        <!-- Menu principal -->
        <ul class="navbar-nav gap-lg-3">

          <li class="nav-item">
            <a class="nav-link" routerLink="/como-chegar" routerLinkActive="active">
              Como chegar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/palestrantes" routerLinkActive="active">
              Palestrantes
            </a>
          </li>

          <li class="nav-item" *ngIf="authenticated">
            <a class="nav-link destaque" routerLink="/cracha" routerLinkActive="active">
              Crachá
            </a>
          </li>

          <li class="nav-item" *ngIf="authenticated">
            <a class="nav-link destaque" routerLink="/admin" routerLinkActive="active">
              Lista Participantes
            </a>
          </li>

          <li class="nav-item" *ngIf="profile == 1">
            <a class="nav-link destaque" routerLink="/listusers" routerLinkActive="active">
              Usuários
            </a>
          </li>
        </ul>

        <!-- Área direita -->
        <div class="d-flex align-items-center gap-2 flex-wrap">

          <!-- <ng-container *ngIf="!authenticated">
            <button routerLink="/login" class="btn btn-light">Login</button>
            <button routerLink="/cadastro" class="btn btn-primary">Cadastre-se</button>
          </ng-container> -->

          <ng-container *ngIf="authenticated">
            <span class="fw-bold nav-link destaque ms-2">Olá {{ user_name }}</span>
            <button routerLink="/login" class="btn btn-danger" (click)="logout()">Sair</button>
          </ng-container>

        </div>

      </div>
    </div>
  </nav>
</header>
